<div class="flex justify-center">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-10">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                Username
            </label>                    
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline" 
                   type="text" formControlName="username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
            <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']" class="text-red-600">Username is required</div>
            </div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                Password
            </label>                  
            <input type="password" formControlName="password" 
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']" class="text-red-600">Password is required</div>
            </div>
            <div class="flex">
                <button [disabled]="loading" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Login
                </button>
                <button (click)="register()" class="text-blue-600 italic py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                    Add new user
                </button>
            </div>
    </form>
</div>