<nav *ngIf="currentBucket" class="p-3 border-gray-200 rounded bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <div class="flex items-center cursor-pointer">
          <span [ngClass]="{'line-through': !currentBucket.isActive}" class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Bucket {{ currentBucket.name }}</span>
      </div>
    </div>
    <div class="grid grid-cols-2 float-right">
        <div [routerLink]="['/bucket-edit', this.id]"  class="text-center m-1 flex bg-white border-2 border-violet-400 cursor-pointer">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                </svg>
            </span>      
            <span>Edit</span>
        </div>
        <div (click)="toggleDeleteModal(this.id, $event)" class="text-center m-1 flex bg-white border-2 border-violet-400 cursor-pointer">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-6 h-6">
                    <path strokeLinecap="round" strokeLinejoin="round" d="M20.25 7.5l-.625 10.632a2.25 2.25 0 01-2.247 2.118H6.622a2.25 2.25 0 01-2.247-2.118L3.75 7.5m6 4.125l2.25 2.25m0 0l2.25 2.25M12 13.875l2.25-2.25M12 13.875l-2.25 2.25M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125z" />
                  </svg>                     
                </span>      
            <span>Delete</span>
        </div>
    </div>
    <br>
    <h2><b>Description: </b>{{ currentBucket.description }}</h2>
    <h2><b>Category: </b>{{ currentBucket.category }}</h2>

    <br>
    <h1 class="font-small leading-tight text-lg mt-2 mb-2 text-black-300 text-left ml-5">Statistics</h1>
    <div class="grid grid-cols-5 gap-8 content-start">
      <div class="flex"><li class="text-yellow-400 w-2 h-1"></li>To do: [count from bucket tasks]</div>
      <div class="flex"><li class="text-blue-400 w-2 h-1"></li>In progress: [count from bucket tasks]</div>
      <div class="flex"><li class="text-green-400 w-2 h-1"></li>Done: [count from bucket tasks]</div>
      <div class="flex"><li class="text-pink-600 w-2 h-1"></li>Cancelled: [count from bucket tasks]</div>
      <div class="float-right text-center mr-5 bg-white border-2 border-violet-400">
        <button>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" class="w-6 h-6">
                <path strokeLinecap="round" strokeLinejoin="round" d="M12 10.5v6m3-3H9m4.06-7.19l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
              </svg>            
        </button>      
        Add new task
    </div>
    </div>
</nav>

<br><br>
<div class="grid-cols-4 gap-8 m-10 flex h-48">
    <div class="border-2 bg-yellow-400 border-black text-center">
        To do: 
        <li class="text-left">[list from bucket tasks]</li>
    </div>
    <div class="border-2 bg-blue-400 border-black text-center">
        In progress:
        <li class="text-left">[list from bucket tasks]</li>
    </div>
    <div class="border-2 bg-green-400 border-black text-center">
        Done:
        <li class="text-left">[list from bucket tasks]</li>
    </div>
    <div class="border-2 bg-pink-600 border-black text-center">
        Cancelled:
        <li class="text-left">[list from bucket tasks]</li>
    </div>
</div>

<a href="#" class="m-8 mt-8 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded-l">Return to main page</a>

<!-- deletion modal start -->
<div *ngIf="showModal" class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-6xl">
      <!--content-->
      <div class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
        <!--header-->
        <div class="flex items-start justify-between p-5 border-b border-solid border-slate-200 rounded-t">
          <h3 class="text-3xl font-semibold">
            Confirm delete
          </h3>
          <button class="p-1 ml-auto bg-transparent border-0 text-black float-right text-3xl leading-none font-semibold outline-none focus:outline-none" (click)="exitDeleteModal()">
            <span class="text-black">
              ×
            </span>
          </button>
        </div>
        <!--body-->
        <div class="relative p-6 flex-auto">
          <p class="my-4 text-slate-500 text-lg leading-relaxed">
            Are you sure you want to delete bucket {{ currentBucket.name }}?
          </p>
        </div>
        <!--footer-->
        <div class="flex items-center justify-end p-6 border-t border-solid border-slate-200 rounded-b">
          <button class="text-red-500 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="removeBucket(this.id)">
            Delete
          </button>
          <button class="text-emerald-500 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150" type="button" (click)="exitDeleteModal()">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- deletion modal end -->