<nav class="p-3 border-gray-200 rounded bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
      <a href="#" class="flex items-center">
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">Welcome in ToDoListSmarter</span>
      </a>
    </div>
    <h1 class="font-small leading-tight text-lg mt-2 mb-2 text-black-300 text-left ml-5">Statistics</h1>
    <div class="h-66 grid grid-cols-4 gap-8 content-start">
      <div class="flex"><li class="text-yellow-400 w-2 h-1"></li>To do:</div>
      <div class="flex"><li class="text-blue-400 w-2 h-1"></li>In progress: [count from bucket tasks]</div>
      <div class="flex"><li class="text-green-400 w-2 h-1"></li>Done: [count from bucket tasks]</div>
      <div class="flex"><li class="text-pink-600 w-2 h-1"></li>Cancelled: [count from bucket tasks]</div>
    </div>
  </nav>

<h1 class="font-small leading-tight text-lg mt-2 mb-2 text-black-300 text-left ml-5">Browser your bucket</h1>
<div class="float-right w-1/6 text-center mr-5 bg-white border-2 border-violet-400">
    <button>
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
    </button>      
    Add new bucket
</div>
<br><br>
<div class="h-66 grid grid-cols-3 gap-8 content-start">
  <div *ngFor="let item of bucketsData; let i=index;" class="bg-green-300 border-2 border-black text-center">
        <a routerLink="/bucket/{{ i }}">{{ item.name }}, id= {{ item.id }}</a>
        <br>
        <span class="font-light text-center">To do: [count]</span>
        <a href="http://www.google.com" class="float-right cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>          
        </a>
      </div>
</div>
