<h1 class="font-small leading-tight text-lg mt-2 mb-2 text-black-300">Statistics for one specific assignee</h1>

<div class="relative overflow-x-auto">
    <table class="w-full text-lg text-left">
        <thead></thead>
        <tbody class="cursor-pointer">
            <tr>
                <th scope="col" class="px-6 py-3">
                    <li class="text-yellow-500 ">To do: {{ ToDo }}</li>
                </th>
                <th scope="col" class="px-6 py-3">
                    <li class="text-blue-500">In progress: {{ InProgress }}</li>
                </th>
                <th scope="col" class="px-6 py-3">
                    <li class="text-green-500">Done: {{ Completed }}</li>
                </th>
                <th scope="col" class="px-6 py-3">
                    <li class="text-black-500">Cancelled: {{ Cancelled }}</li>
                </th>
            </tr>
        </tbody>
    </table>
</div>