<div class="bg-gray-300 h-max">
    <nav class="p-3 border-gray-200 rounded bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
          <a class="flex items-center cursor-pointer">
              <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">New user</span>
          </a>
        </div>
    </nav>
    
    <form #newUserForm="ngForm" [formGroup]="registerUserFormGroup" class="mx-10" (ngSubmit)="onSubmitNewUser(newUserForm.value)">
        <div class="mb-6">
          <label for="text" class="italic block mb-2 text-sm font-medium text-gray-900 dark:text-white">First Name</label>
          <input type="text" maxlength="50" formControlName="firstName" class="user-form-control">
        </div>
        <div class="mb-6">
          <label for="text" class="italic block mb-2 text-sm font-medium text-gray-900 dark:text-white">Last Name</label>
          <input type="text" maxlength="50" formControlName="lastName" class="user-form-control">
        </div>
        <div class="mb-6">
            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Username</label>
            <input type="text" minlength="5" maxlength="20" formControlName="username" class="user-form-control">
        </div>
        <div *ngIf="registerUserFormGroup.get('username').invalid && registerUserFormGroup.get('username').touched" class="text-red-600">
          *Username field cannot be empty, must be 5-20 characters long.
        </div>
        <!-- <div class="mb-6">
            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <input type="text" id="description" name="description" maxlength="20" formControlName="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Type in bucket description, e.x. Organize the office errands">
        </div> -->
        <div class="mb-6">
            <label for="text" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Password</label>
            <input type="password" minlength="5" maxlength="100" formControlName="password" class="user-form-control">
        </div>
        <div *ngIf="registerUserFormGroup.get('password').invalid && registerUserFormGroup.get('password').touched" class="text-red-600">
          *Password field cannot be empty, must be 5-20 characters long.
        </div>
        <button type="submit" [disabled]="!newUserForm.valid" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
          Register new user
        </button>
      </form>
      <br>
      <a href="#" class="main-page-button">Return to main page</a>